.top-header {
  background: #00afca;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  .nav-item {
    .nav-link {
      font-size: 16px;

      &.active {
        color: $white;
        font-weight: bold;
      }
    }
  }

  &.tile-top-bar {
    background: #ffdf00;
    border-bottom: 2px solid $red;
    height: 58px;
    padding: 4px 0;
    text-align: center;
  
    img {
      height: 50px;
    }
  
    @media screen and (max-width: 1366px) {
      img {
        width: 180px;
      }
    }
  
    @media screen and (max-width: 1280px) {
      img {
        width: 150px;
      }
    }
  
    @media screen and (max-width: 1024px) {
      padding: 12px 0;
  
      img {
        width: 120px;
      }
    }
  
    @include media-breakpoint-down('md') {
      padding: 10px 0;
  
      img {
        width: 100px;
      }
    }
  }
}